In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('application_data.csv')

In [3]:
df.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

Converting the appilcationDate,repaymentDue and repaymentPaidDate in the dataframe to datetimes.

In [4]:
df['appilcationDate'] = pd.to_datetime(df['appilcationDate'])

In [5]:
df['repaymentDueDate'] = pd.to_datetime(df['repaymentDueDate'])

In [6]:
df['repaymentPaidDate'] =pd.to_datetime(df['repaymentPaidDate'])

To check the number of unique data tyoes that are contained within the application dataset

In [7]:
df.dtypes

customerID                   object
loanId                       object
appilcationDate      datetime64[ns]
LoanNumber                    int64
LoanAmount                  float64
InterestRate                float64
TermDays                      int64
repaymentDueDate     datetime64[ns]
repaymentPaidDate    datetime64[ns]
dtype: object

Computing the number of unique datatypes in each columns and and printing it out

In [8]:
for i in df.columns:
    print ('The unique datatype contained in {} column is {}'.format(i , df[i].nunique()))

The unique datatype contained in customerID column is 985
The unique datatype contained in loanId column is 1000
The unique datatype contained in appilcationDate column is 254
The unique datatype contained in LoanNumber column is 21
The unique datatype contained in LoanAmount column is 86
The unique datatype contained in InterestRate column is 17
The unique datatype contained in TermDays column is 7
The unique datatype contained in repaymentDueDate column is 302
The unique datatype contained in repaymentPaidDate column is 263

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places!

In [9]:
average_loan_amount = round(df['LoanAmount'].mean(), ndigits= 2)

In [10]:
average_loan_amount

13828.08

In [11]:
average_interest_rate = round(df['InterestRate'].mean(), ndigits= 2)

In [12]:
average_interest_rate

23.06

In [13]:
average_termdays = round(df['TermDays'].mean(), ndigits= 2)

In [14]:
average_termdays

42.08

Please create a new column called `dateDifference` 
which needs to contains the number of days between when the loan was repaid and when it was due to be repaid.

In [15]:
df['dateDifference'] = df['repaymentDueDate'] - df['repaymentPaidDate']

In [16]:
# Inspect the new column
df['dateDifference'].head(2)

0    4 days
1   24 days
Name: dateDifference, dtype: timedelta64[ns]

In [17]:
# Enhances the functions to show the entire rows and columns
pd.set_option('max_rows', None)
pd.set_option('max_columns', None)

In [18]:
df['dateDifference']

0        4 days
1       24 days
2       30 days
3       26 days
4        3 days
5       71 days
6      154 days
7       62 days
8       63 days
9       81 days
10      17 days
11      38 days
12     153 days
13     165 days
14      42 days
15      59 days
16     116 days
17      25 days
18      42 days
19      34 days
20      25 days
21      35 days
22      43 days
23      29 days
24      37 days
25      24 days
26      45 days
27      33 days
28      42 days
29      26 days
30      35 days
31      12 days
32      23 days
33      21 days
34      18 days
35      40 days
36      39 days
37      32 days
38      17 days
39      11 days
40      34 days
41      40 days
42      23 days
43      26 days
44       9 days
45      17 days
46      35 days
47      32 days
48      44 days
49      33 days
50      11 days
51      19 days
52      27 days
53       2 days
54      18 days
55      16 days
56       3 days
57      26 days
58      28 days
59      71 days
60     116 days
61      41 days
62      28 days
63      26 days
64      47 days
65      34 days
66      35 days
67      56 days
68      42 days
69      39 days
70      39 days
71      51 days
72      57 days
73      47 days
74      34 days
75      49 days
76      33 days
77      34 days
78      12 days
79      14 days
80      23 days
81      28 days
82      27 days
83      19 days
84      44 days
85      60 days
86      15 days
87      24 days
88      18 days
89       6 days
90      22 days
91       8 days
92       3 days
93      16 days
94       9 days
95      23 days
96      37 days
97      13 days
98      22 days
99      16 days
100     25 days
101     21 days
102     12 days
103      7 days
104      3 days
105     23 days
106     44 days
107     44 days
108     59 days
109     30 days
110     22 days
111     10 days
112     29 days
113     12 days
114     24 days
115     70 days
116     53 days
117     37 days
118     21 days
119     29 days
120     24 days
121     24 days
122     50 days
123      3 days
124      7 days
125     13 days
126     10 days
127     13 days
128     30 days
129      2 days
130      7 days
131      1 days
132     66 days
133     23 days
134      5 days
135     11 days
136     13 days
137     15 days
138     12 days
139     29 days
140      2 days
141      7 days
142     26 days
143     28 days
144     29 days
145     28 days
146     28 days
147     26 days
148     51 days
149     54 days
150     26 days
151     21 days
152     38 days
153     35 days
154    177 days
155     32 days
156     84 days
157    166 days
158     88 days
159     56 days
160     83 days
161     45 days
162     41 days
163     40 days
164     29 days
165     37 days
166     29 days
167     40 days
168     22 days
169     14 days
170     19 days
171     41 days
172     42 days
173     44 days
174     31 days
175     38 days
176     42 days
177     23 days
178     18 days
179     19 days
180      7 days
181     68 days
182     46 days
183     49 days
184     51 days
185     42 days
186     56 days
187     56 days
188     80 days
189     45 days
190      4 days
191     95 days
192      3 days
193     48 days
194     34 days
195     53 days
196     54 days
197     48 days
198     47 days
199    156 days
200    159 days
201     25 days
202     21 days
203    164 days
204     66 days
205     44 days
206     44 days
207     24 days
208     41 days
209     10 days
210     28 days
211     23 days
212     38 days
213     19 days
214     40 days
215    166 days
216     50 days
217     52 days
218     71 days
219     71 days
220     32 days
221     80 days
222     41 days
223     30 days
224     15 days
225     17 days
226    102 days
227     44 days
228     40 days
229     16 days
230    117 days
231     47 days
232     62 days
233    178 days
234     34 days
235     49 days
236     35 days
237     44 days
238     59 days
239     40 days
240     43 days
241     42 days
242     45 days
243     60 days
244     15 days
245     14 days
246     15 days
247     15 days
248     13 days
249     14 days
250     14 days
251     14 days
252     10 days
253     15 days
254     11 days
255     13 days
256     14 days
257     13 days
258     23 days
259     13 days
260      7 days
261     14 days
262      3 days
263      7 days
264     30 days
265     30 days
266     21 days
267     30 days
268    157 days
269    167 days
270     54 days
271     85 days
272     34 days
273     42 days
274     85 days
275     57 days
276     88 days
277     66 days
278     84 days
279     74 days
280     71 days
281     38 days
282     50 days
283     58 days
284     33 days
285     45 days
286     39 days
287     85 days
288    155 days
289    119 days
290    119 days
291    119 days
292     42 days
293     48 days
294     83 days
295      7 days
296     18 days
297     61 days
298     34 days
299     48 days
300     39 days
301     48 days
302     13 days
303     21 days
304     23 days
305     28 days
306     16 days
307     11 days
308     78 days
309     87 days
310     61 days
311     15 days
312     70 days
313     24 days
314     15 days
315     20 days
316     11 days
317     17 days
318     26 days
319     19 days
320     11 days
321      9 days
322     19 days
323     10 days
324     23 days
325      3 days
326      8 days
327     20 days
328     15 days
329     20 days
330     14 days
331     11 days
332     20 days
333     25 days
334     89 days
335    165 days
336     31 days
337     45 days
338     31 days
339     34 days
340     36 days
341     76 days
342     79 days
343     84 days
344     62 days
345     77 days
346     60 days
347     82 days
348     77 days
349     80 days
350     48 days
351    163 days
352    158 days
353    170 days
354     17 days
355     91 days
356     72 days
357     83 days
358     78 days
359     45 days
360     84 days
361    160 days
362     81 days
363     65 days
364     80 days
365    164 days
366    153 days
367    168 days
368    177 days
369    154 days
370    156 days
371    159 days
372    163 days
373    158 days
374     60 days
375    157 days
376    155 days
377    161 days
378     63 days
379     84 days
380     61 days
381    161 days
382     73 days
383    152 days
384    152 days
385    172 days
386    180 days
387    181 days
388    169 days
389    160 days
390     86 days
391    168 days
392      0 days
393      0 days
394      3 days
395     -2 days
396      0 days
397    -15 days
398      1 days
399      3 days
400      1 days
401      0 days
402      0 days
403      7 days
404      0 days
405      4 days
406      2 days
407      1 days
408     -1 days
409      0 days
410     -4 days
411      7 days
412     10 days
413      0 days
414      1 days
415      1 days
416      2 days
417     -1 days
418      1 days
419     -9 days
420      6 days
421     11 days
422      0 days
423      1 days
424     -8 days
425      1 days
426    -15 days
427      1 days
428      4 days
429      3 days
430      1 days
431      3 days
432     -6 days
433     10 days
434      1 days
435      3 days
436      0 days
437      2 days
438      0 days
439      0 days
440      0 days
441      0 days
442      0 days
443      6 days
444      0 days
445      1 days
446     -7 days
447      0 days
448     -9 days
449    -19 days
450     -4 days
451      0 days
452      2 days
453      0 days
454      0 days
455      0 days
456     -9 days
457    -43 days
458      5 days
459    -14 days
460      0 days
461      0 days
462    -19 days
463      1 days
464      5 days
465      0 days
466      3 days
467      0 days
468      1 days
469    -34 days
470      2 days
471      5 days
472     12 days
473     -2 days
474   -110 days
475      0 days
476      2 days
477      3 days
478      1 days
479      1 days
480      2 days
481      0 days
482      0 days
483      0 days
484      0 days
485      0 days
486      2 days
487      0 days
488      3 days
489      0 days
490     -1 days
491    -14 days
492      3 days
493      1 days
494     15 days
495      1 days
496      0 days
497     -2 days
498      1 days
499      0 days
500      6 days
501      2 days
502      3 days
503      2 days
504      0 days
505      0 days
506      2 days
507      8 days
508      2 days
509      1 days
510      2 days
511      1 days
512      7 days
513      3 days
514      1 days
515      0 days
516      1 days
517    -12 days
518     29 days
519     52 days
520      2 days
521     34 days
522     30 days
523     25 days
524     40 days
525     49 days
526     31 days
527     30 days
528     32 days
529     11 days
530     11 days
531    -97 days
532    -25 days
533      0 days
534      1 days
535     31 days
536     64 days
537     28 days
538     11 days
539      0 days
540     26 days
541     -2 days
542      5 days
543      0 days
544    -41 days
545      0 days
546     27 days
547    -49 days
548     -3 days
549     -9 days
550      0 days
551    -14 days
552      2 days
553    -19 days
554    -28 days
555    -36 days
556      4 days
557     -5 days
558      3 days
559     16 days
560    -30 days
561      5 days
562    -61 days
563      5 days
564     10 days
565      0 days
566    -14 days
567      4 days
568    -77 days
569    -16 days
570   -128 days
571      3 days
572      1 days
573      0 days
574      0 days
575      1 days
576      2 days
577     -1 days
578     30 days
579     14 days
580     10 days
581     29 days
582    -10 days
583      2 days
584      0 days
585      1 days
586      0 days
587     -3 days
588      5 days
589      4 days
590      5 days
591      7 days
592      9 days
593     -9 days
594      0 days
595      2 days
596     31 days
597      4 days
598    -33 days
599      0 days
600      7 days
601      7 days
602     -6 days
603      0 days
604      3 days
605     -1 days
606      6 days
607      7 days
608     13 days
609     20 days
610    -11 days
611      1 days
612      0 days
613      0 days
614      6 days
615   -102 days
616      0 days
617     14 days
618      2 days
619      0 days
620    -23 days
621      4 days
622      0 days
623      5 days
624      0 days
625      9 days
626    -60 days
627      5 days
628      4 days
629      3 days
630     -8 days
631     16 days
632      0 days
633      0 days
634      0 days
635      3 days
636     -6 days
637      0 days
638      0 days
639      3 days
640      0 days
641     17 days
642      2 days
643     19 days
644      1 days
645      7 days
646     -4 days
647     -1 days
648      0 days
649     11 days
650    -57 days
651     -8 days
652      0 days
653      0 days
654      5 days
655     -8 days
656      7 days
657    -18 days
658    -58 days
659     26 days
660    -38 days
661      0 days
662    -22 days
663      1 days
664      0 days
665     23 days
666      7 days
667      0 days
668     -2 days
669      3 days
670    -77 days
671     11 days
672     -7 days
673      0 days
674      0 days
675      2 days
676     -2 days
677      3 days
678     22 days
679     11 days
680      7 days
681    -74 days
682     -8 days
683      5 days
684     18 days
685      2 days
686      7 days
687      5 days
688    -20 days
689    -10 days
690      5 days
691     16 days
692    -11 days
693    -98 days
694   -120 days
695      2 days
696     13 days
697      0 days
698     14 days
699      3 days
700      1 days
701      2 days
702     12 days
703      2 days
704      4 days
705     10 days
706     -7 days
707      7 days
708      1 days
709    -14 days
710      1 days
711    -26 days
712      6 days
713     -1 days
714     -8 days
715      0 days
716    -11 days
717    -66 days
718      1 days
719      0 days
720      0 days
721    -31 days
722     21 days
723      8 days
724     -2 days
725      7 days
726     22 days
727      8 days
728    -36 days
729     -3 days
730      1 days
731      6 days
732    -52 days
733    -15 days
734      0 days
735     -2 days
736      1 days
737     -4 days
738     19 days
739      7 days
740     -8 days
741      0 days
742    -34 days
743     11 days
744      5 days
745     11 days
746     -3 days
747      0 days
748      1 days
749    -16 days
750    -97 days
751      0 days
752    -86 days
753     25 days
754     -5 days
755      8 days
756    -56 days
757      0 days
758     -1 days
759     -3 days
760    -12 days
761      3 days
762   -226 days
763      0 days
764     -6 days
765     -3 days
766      4 days
767    -18 days
768    -32 days
769      2 days
770      1 days
771      0 days
772    -10 days
773     -4 days
774      3 days
775     11 days
776     -1 days
777     -9 days
778    -33 days
779      0 days
780      0 days
781     -9 days
782     -2 days
783    -41 days
784    -20 days
785    -27 days
786      0 days
787    -34 days
788      3 days
789    -36 days
790    -38 days
791   -108 days
792     26 days
793     29 days
794      1 days
795      0 days
796      8 days
797      0 days
798      1 days
799      0 days
800      0 days
801      1 days
802     -3 days
803     26 days
804      2 days
805    -82 days
806     -8 days
807     13 days
808      9 days
809     -5 days
810    -23 days
811      6 days
812     10 days
813      4 days
814     10 days
815      5 days
816      7 days
817     15 days
818      0 days
819      0 days
820      0 days
821      3 days
822      3 days
823      0 days
824     13 days
825      0 days
826      2 days
827    -12 days
828      4 days
829      8 days
830     29 days
831     -1 days
832      0 days
833      0 days
834   -118 days
835      4 days
836      0 days
837      0 days
838    -66 days
839      0 days
840      3 days
841     16 days
842     10 days
843    -11 days
844      3 days
845     10 days
846    -34 days
847     21 days
848     -5 days
849     -3 days
850      7 days
851      0 days
852      8 days
853      0 days
854     14 days
855     17 days
856     -7 days
857      4 days
858      1 days
859     -8 days
860    -22 days
861   -115 days
862      1 days
863     -2 days
864     11 days
865    -18 days
866      0 days
867     27 days
868     25 days
869      2 days
870      5 days
871     -4 days
872      1 days
873    -52 days
874      3 days
875      1 days
876      8 days
877      1 days
878    -47 days
879     11 days
880     31 days
881    -31 days
882      0 days
883     27 days
884     -2 days
885      1 days
886      1 days
887      5 days
888      0 days
889      0 days
890    -20 days
891     -4 days
892      4 days
893      0 days
894      0 days
895      3 days
896    -11 days
897      0 days
898      0 days
899      1 days
900      1 days
901      0 days
902      1 days
903      3 days
904     27 days
905      2 days
906      0 days
907    -40 days
908    -76 days
909      0 days
910      0 days
911     11 days
912    -38 days
913      4 days
914     -4 days
915      0 days
916      5 days
917     -4 days
918      5 days
919    -14 days
920     -1 days
921      1 days
922     28 days
923     26 days
924      0 days
925      3 days
926     -5 days
927   -190 days
928      0 days
929    -88 days
930     13 days
931      5 days
932    -52 days
933      2 days
934    -54 days
935     24 days
936     -2 days
937      0 days
938      2 days
939      3 days
940      0 days
941     -4 days
942      6 days
943     -3 days
944     -1 days
945      4 days
946      0 days
947    -11 days
948     10 days
949      0 days
950     23 days
951    -13 days
952    -10 days
953     -1 days
954      0 days
955      4 days
956    -20 days
957      5 days
958      1 days
959     20 days
960    -33 days
961      6 days
962    -47 days
963     -8 days
964    -83 days
965    -34 days
966     28 days
967    -30 days
968      0 days
969      0 days
970      1 days
971     18 days
972      0 days
973      0 days
974     16 days
975      0 days
976     -1 days
977     17 days
978     -8 days
979      9 days
980    -11 days
981      3 days
982      0 days
983    -89 days
984     10 days
985      1 days
986      8 days
987   -103 days
988      5 days
989     -2 days
990     -2 days
991      9 days
992      1 days
993      8 days
994     -1 days
995     25 days
996      1 days
997   -252 days
998      2 days
999     13 days
Name: dateDifference, dtype: timedelta64[ns]

Count the number of loans that were paid more than 3 days late.
This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [19]:
# To create datetime object, we use timedelta
from datetime import timedelta

In [20]:
timedelta(days=3)

datetime.timedelta(days=3)

In [21]:
# I created a new variable to contain the number of people whose loans were paid more than 3 days late. 
late_loans = (df['dateDifference'] < timedelta(days=(-3))).sum()

In [22]:
late_loans

145

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

In [23]:
df.groupby(['TermDays']).mean()['LoanAmount']

TermDays
15      1274.088050
30      7941.964286
45     10706.250000
60     25710.526316
90     37672.727273
120    45055.555556
180    80988.095238
Name: LoanAmount, dtype: float64

In [24]:
df.groupby(['TermDays']).agg({'LoanAmount': ['mean','std']})

            LoanAmount
                  mean           std
TermDays
15         1274.088050   2885.967406
30         7941.964286   1606.039495
45        10706.250000   2346.143820
60        25710.526316  11559.646185
90        37672.727273  18050.140602
120       45055.555556  22192.966854
180       80988.095238  34612.222587

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

The mean loan amount in 30-day loans is 7941.96
The Standard deviation of loan amount in 90-day loan is 18050.14

In [25]:
#df.groupby(['TermDays']).describe()['LoanAmount']
#This is a rather improper method, but the answers can also be derived here too

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by.

In [26]:
late_loans_updated = df[(df['dateDifference'] < timedelta(days=(-3)))]

In [27]:
late_loans_updated.head(2)

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,-15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,-4 days

In [28]:
# Break down of application date into weeks of the year
late_loans_updated['wk_of_year'] = late_loans_updated['appilcationDate'].dt.week

In [29]:
# Break down of application date into days of the week
late_loans_updated['day_of_week'] = late_loans_updated['appilcationDate'].dt.day

In [30]:
# Computing the average number days that these loans were paid beyond their due date and grouping by
Each_wk_average = late_loans_updated.groupby(['wk_of_year'])['day_of_week'].mean()

In [31]:
# Inspect your data
Each_wk_average

wk_of_year
1      4.400000
2     10.625000
3     17.625000
4     25.083333
5     13.666667
6      6.714286
7     14.125000
8     22.076923
9      8.714286
10     7.750000
11    17.000000
12    20.000000
13     1.000000
14     2.500000
15    13.000000
17    27.500000
19    10.500000
20    18.000000
21    24.000000
22    30.000000
23     7.000000
24    14.000000
26    27.000000
27     3.000000
28    12.000000
29    18.666667
30    27.333333
31     2.000000
32     8.000000
33    17.000000
34    21.000000
35    30.000000
36     5.666667
37    11.400000
38    19.000000
39    28.000000
40     6.000000
41    13.000000
42    17.000000
44     2.500000
45     9.000000
48    29.000000
Name: day_of_week, dtype: float64

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places

In [32]:
Each_wk_average[2].round(decimals = 2)

10.62